@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@theme {
  /* Brown colors palette: https://coolors.co/dbaca9-bd6761-90423c-5e2b27-3a1a18 */
  --color-brown-100: #dbaca9;
  --color-brown-200: #bd6761;
  --color-brown-300: #90423c;
  --color-brown-400: #5e2b27;
  --color-brown-500: #3a1a18;

  /* "newgreen" colors palette: https://coolors.co/68ca7c-40b557-359749-256a33-11270b */
  --color-newgreen-100: #68ca7c;
  --color-newgreen-200: #40b557;
  --color-newgreen-300: #359749;
  --color-newgreen-400: #256a33;
  --color-newgreen-500: #11270b;

  /* Animations */
  --animate-wave: wave 2s ease-in infinite;
  @keyframes wave {
    0% {
      transform-origin: 70% 70%;
      transform: rotate(0deg);
    }
    10% {
      transform-origin: 70% 70%;
      transform: rotate(14deg);
    }
    20% {
      transform-origin: 70% 70%;
      transform: rotate(-8deg);
    }
    30% {
      transform-origin: 70% 70%;
      transform: rotate(14deg);
    }
    40% {
      transform-origin: 70% 70%;
      transform: rotate(-4deg);
    }
    50% {
      transform-origin: 70% 70%;
      transform: rotate(10deg);
    }
    60% {
      transform-origin: 70% 70%;
      transform: rotate(0deg);
    }
    100% {
      transform-origin: 70% 70%;
      transform: rotate(0deg);
    }
  }

  --animate-bounce-horizontal: bounce-horizontal 1s infinite;
  @keyframes bounce-horizontal {
    0%, 100% {
      transform: none;
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateX(15%);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}